* {
	box-sizing: border-box;
	padding: 0;
	margin:0;
	
}

h1 {
	font-family: Helvetica;
	text-align: center;
	margin:20px;
}

#section, #sectionsp{
	background-color: grey;
	border: 2px solid black;
	margin:2%;
}

@media (min-width: 992px){
	#section, #sectionsp {
		background-color: grey;
		border: 2px solid black;
		margin-left: 2%;
		margin-right: 0px;
		float:left;
		width:30.66%;
	}
} 

@media (min-width:768px) and (max-width: 991px){
	#section {
		background-color: grey;
		border: 2px solid black;
		margin-left: 2%;
		margin-right: 0px;
		float:left;
		width:47%;
	}

	#sectionsp{
		background-color: grey;
		border: 2px solid black;
		margin:2%;
		clear:left;
	}
}

#desc{
	clear:both;
	padding:15px;
	text-align:justify;
	margin:0px;
}

#title{
	text-align: center;
	font-family: Helvetica;
	font-style: italic;
  	font-weight: bold;
  	width:100px;
  	border: 2px solid black;
  	float:right;
  	position:relative;
  	top:-2px;
  	right:-2px;
}

.maroon{
	background: maroon;
	color:ghostwhite;
}

.red{
	background:pink;
}

.blue{
	background:lightblue;
}